USE [master]
GO
/****** Object:  Database [LoginDataBase]    Script Date: 6/9/2022 1:06:15 AM ******/
CREATE DATABASE [LoginDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LoginDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LoginDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LoginDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LoginDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LoginDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LoginDataBase]
GO
USE [LoginDataBase]
GO
/****** Object:  Table [dbo].[Emp_Attendance]    Script Date: 6/9/2022 1:06:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[Employeeid] [int] NOT NULL,
	[AttendanceInTime] [datetime] NOT NULL,
	[AttendanceOutTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Emp_Attendance] PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 6/9/2022 1:06:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Position] [varchar](50) NULL,
	[Office] [varchar](50) NULL,
	[Age] [int] NULL,
	[Salary] [int] NULL,
	[ImagePath] [varchar](max) NULL,
	[DOJ] [datetime] NULL,
	[Address1] [varchar](max) NULL,
	[ContactNumber] [bigint] NULL,
	[FatherName] [varchar](max) NULL,
	[Address2] [varchar](max) NULL,
	[State] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Pincode] [varchar](50) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/9/2022 1:06:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/9/2022 1:06:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](100) NULL,
	[RoleId] [int] NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Emp_Attendance] ON 

INSERT [dbo].[Emp_Attendance] ([AttendanceId], [Employeeid], [AttendanceInTime], [AttendanceOutTime]) VALUES (4, 12, CAST(N'2022-08-08T00:00:00.000' AS DateTime), CAST(N'2022-08-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Emp_Attendance] ([AttendanceId], [Employeeid], [AttendanceInTime], [AttendanceOutTime]) VALUES (5, 12, CAST(N'2022-08-07T00:00:00.000' AS DateTime), CAST(N'2022-08-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Emp_Attendance] ([AttendanceId], [Employeeid], [AttendanceInTime], [AttendanceOutTime]) VALUES (6, 12, CAST(N'2022-04-04T00:00:00.000' AS DateTime), CAST(N'2022-04-04T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Emp_Attendance] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [Name], [Position], [Office], [Age], [Salary], [ImagePath], [DOJ], [Address1], [ContactNumber], [FatherName], [Address2], [State], [City], [Pincode]) VALUES (12, N'test', NULL, NULL, NULL, NULL, N'~/AppFiles/Images/default.png', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Position], [Office], [Age], [Salary], [ImagePath], [DOJ], [Address1], [ContactNumber], [FatherName], [Address2], [State], [City], [Pincode]) VALUES (15, N'sid', N'sid', N'mnmnm', 12, 123, N'~/AppFiles/Images/default.png', CAST(N'2022-06-20T00:09:00.000' AS DateTime), N'jhjh', 12112212, NULL, N'jhhj', N'hjh', N'jhjh', N'jhhj')
INSERT [dbo].[Employee] ([EmployeeID], [Name], [Position], [Office], [Age], [Salary], [ImagePath], [DOJ], [Address1], [ContactNumber], [FatherName], [Address2], [State], [City], [Pincode]) VALUES (16, N'siddarth', N'test', N'123', 12, 12, N'~/AppFiles/Images/default.png', CAST(N'2022-06-29T00:13:00.000' AS DateTime), N'mjhjh', 1234567896, NULL, N'jjhhj', N'jhhhj', N'jhhhj', N'1234')
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([Id], [RoleName]) VALUES (2, N'employee')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserName], [Password], [RoleId], [EmployeeId]) VALUES (1, N'admin', N'admin', 1, NULL)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [RoleId], [EmployeeId]) VALUES (3, N'test', N'test', 2, 12)
INSERT [dbo].[User] ([UserID], [UserName], [Password], [RoleId], [EmployeeId]) VALUES (4, N'sid', N'1234', 2, 15)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Emp_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Attendance_Employee] FOREIGN KEY([Employeeid])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Emp_Attendance] CHECK CONSTRAINT [FK_Emp_Attendance_Employee]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Employee]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
